<div *ngIf="state" class="text-center">
  <div class="w-full h-full flex flex-col">
    <div class="w-full p-2 font-bold">
      <div *ngIf="!context.gameover" [ngStyle]="{ color }">PLAYER {{ player }}</div>
      <ng-container *ngIf="context.gameover?.draw"> DRAW </ng-container>
      <div *ngIf="context.gameover?.winner" [ngStyle]="{ color: colorOf(context.gameover.winner) }" class="font-bold">
        Player {{ context.gameover.winner }} WINS!
      </div>
    </div>
  </div>
</div>

<div *ngIf="!state">Waiting for game state...</div>
