<div class="w-full h-full flex flex-col">
  <div class="w-full h-16 border-b-2 flex items-center">
    <button mat-button routerLink="/home" class="h-full w-16 rounded-none">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <mat-divider [vertical]="true" class="h-full"></mat-divider>

    <div class="h-full flex-grow flex items-center justify-center">
      <span class="text-xl font-bold"> GAME </span>
    </div>
  </div>
  <div class="w-full flex-grow flex items-center justify-evenly">
    <div *ngFor="let player of players; trackBy: identity"
         class="flex-grow h-full flex items-center justify-center relative border-4"
         [ngStyle]="{ borderColor: color }" [class.hidden]="this.currentPlayer !== player">
      <app-board [player]="player"></app-board>
    </div>
  </div>
</div>
